numpy
http://download.pytorch.org/whl/cpu/torch-0.4.1-cp36-cp36m-linux_x86_64.whl
spotipy
scipy
librosa
pydub
Flask==1.1.2
Werkzeug==1.0.1
Flask-Migrate==2.5.3
Flask-Script==2.0.6
youtube_dl
sounddevice